<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="copyright" content="Angels for Animal Rights. All Rights Reserved.">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-TileImage" content="http://afarnyc.org/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="http://afarnyc.org/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="http://afarnyc.org/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://afarnyc.org/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://afarnyc.org/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://afarnyc.org/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://afarnyc.org/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://afarnyc.org/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://afarnyc.org/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://afarnyc.org/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://afarnyc.org/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="http://afarnyc.org/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://afarnyc.org/img/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="http://afarnyc.org/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://afarnyc.org/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="http://afarnyc.org/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="http://afarnyc.org/img/favicons/manifest.json">
    <link rel="shortcut icon" href="http://afarnyc.org/img/favicons/favicon.ico">      
    <meta name="google-site-verification" content=""> {{! Change for Google Webmaster verification }}
    {{ghost_head}} 
    <link rel="author" href="https://plus.google.com/115976090698102902032" />      
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="http://afarnyc.org/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />
    <script type="text/javascript"> var rootUrl = '{{@blog.url}}';</script>         
    {{! Place your Google Analytic here }}
</head>
<body id="b-blog" class="{{body_class}}"
    data-parallax="true">        
    <!--[if lt IE 9]>
    <div class="outdated-frame">
        You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.
    </div>
    <![endif]--> 
    {{>misc/nav-mobile}} 
    <div class="body-wrap">
        {{>header/default}}        
        {{{body}}}        
        {{>footer/default}} 
    </div>
    </main>
    {{ghost_foot}}    
    {{{block "customScript"}}}
    <script type="text/javascript" src="{{asset "js/main.min.js"}}"></script>
    <script src="http://afarnyc.org/js/slideout.min.js"></script> 
    <script src="http://afarnyc.org/js/script.min.js"></script> 
</body>
</html>